
//fonts
$font_0: FuturaLTLight;
$font_1: FuturaLT;
$font_2: Arial;

//urls
$url_0: url(../fonts/FuturaLT-Light_0.ttf);
$url_1: url(../fonts/FuturaLT.ttf);

@font-face {
	font-family: $font_0;
	src: $url_0;
}
@font-face {
	font-family: $font_1;
	src: $url_1;
}
body {
	font-family: $font_1;
	#Header {
		font-family: $font_2;
		.header-button {
			position: absolute;
			top: 46px;
			left: 31px;
			text-decoration: none;
			img {
				width: 142px;
				height: auto;
			}
		}
		.mobile-menu {
			display: none;
			background-color: #e1e3e0;
			text-align: right;
			padding: 20px 0;
			padding-right: 30px;
			i {
				color: #878484;
				font-size: 30px;
			}
		}
		#menu-general {
			list-style-type: none;
			margin-left: 12.96vw;
			margin-bottom: 23px;
			padding: 0;
			li {
				display: inline-block;
				padding-top: 22px;
				margin-right: 27px;
				a {
					text-decoration: none;
					text-transform: uppercase;
					color: #878484;
					font-size: 12px;
					&:hover {
						color: black;
						transition: 0.6s;
					}
				}
			}
		}
		#TopSection {
			background-size: cover !important;
			background-position: center !important;
			max-height: 680px;
			.wrapper {
				display: flex;
				width: 100%;
				height: 72vh;
				.content {
					width: 100%;
					height: 100%;
					max-width: 958px;
					max-height: 502px;
					margin: auto;
					img {
						width: 100%;
						height: auto;
						margin-top: 7px;
						margin-left: 53px;
					}
				}
			}
			.wrapper-right {
				display: flex;
				flex-direction: row-reverse;
				width: 100%;
				height: 40vh;
				min-height: 230px;
				.content {
					width: 100%;
					height: 100%;
					max-width: 550px;
					max-height: 290px;
					margin: auto 0;
					margin-right: 9px;
				}
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	#HP_Content {
		font-family: $font_0;
		color: #878484;
		padding-bottom: 40px;
		.title-row .title {
			margin-top: 107px;
			font-size: 35px;
			color: black;
			font-weight: 600;
		}
		.content_block_row .wrapper {
			margin: 0 auto;
			width: 100%;
			max-width: 739px;
			.content_block_text {
				margin-top: 77px;
				font-size: 19px;
				line-height: 29px;
				&.first-paragraph {
					margin-top: 32px;
					font-weight: 600;
				}
			}
			.content_block_img {
				margin-top: 70px;
				width: 100%;
				padding: 37px 39px 33px 37px;
				border: 1px solid #404040;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
		.content_editor_row .wrapper {
			font-size: 22px;
			line-height: 30px;
			width: 100%;
			max-width: 381px;
			margin: 0 auto;
			margin-top: 60px;
			.content_editor_photo {
				width: 100%;
				padding: 36px 30px 35px 32px;
				border: 1px solid #404040;
				img {
					width: 100%;
					height: auto;
				}
			}
			.content_editor {
				margin: 0 auto;
				margin-top: 58px;
				width: 100%;
				max-width: 335px;
			}
			.content_editor_contacts {
				margin-top: 29px;
			}
		}
	}
}
a:hover {
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
	transition-property: all;
}